@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
}
.page-container {
  width: 1440px;
  min-height: 100vh;
  height: auto;
  transition: all 0.4s ease;
  margin: 0 auto;
  background: #E1D4C9;
  position: relative;
}

.fill-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  padding-top: 40px;
  padding-bottom: 40px;
}
.all-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.sign-in-title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
  color: #403F3D;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 320px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.input-group input {
  padding: 0px 12px;
  gap: 8px;
  height: 56px;
  border: 1px solid #C1B6AD;
  border-radius: 12px;
  background: transparent;
  color: #A1A8B3;
}

.input-group input.error {
  border-color: #D9534F !important;
}
.input-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}

.error-message {
  font-size: 13px;
  color: #D9534F;
  height: 14px;
}

#signInBtn {
  padding: 12px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid #403F3D;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

#signInBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.auth-error {
  text-align: center;
  color: #D9534F;
  margin-top: -10px;
}

.hidden {
  display: none;
}
.auth-link {
  cursor: pointer;
  color: #007bff;
}
.switch-auth{

}
